@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '/node_modules/font-awesome/css/font-awesome.min.css';

.navbar-brand.navbar-image {
  text-align: center;
  height: 1%;
}

.header {
  padding-top: 10px;
  padding-bottom: 5px;
  /*padding-bottom: 15px;*/
  border-bottom: thin #D9D9D9 solid;
  /*background-color: #333*/
}

.title {
  /*color: #fff;*/
  /*font-weight: 700;*/
  /*font-size: 40px;*/
  display: inline;
  /*padding-right: 15px;*/
}

.title-image {
  padding-right: 10px;
}

.vertical-align {
    display: flex;
    align-items: center;
}
