<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-3">
      <img class="title-image" src="/assets/color_icon.png" height="38px" alt="Call The Hill">
      <h2 class="title align-middle">Call the Hill</h2>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Feed..." />
        <span class="input-group-btn">
          <button class="btn btn-info" type="button">
            <span class="fa fa-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </div>
    <div class="col-sm-3 vertical-align">
      <user></user>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <stats></stats>
    </div>
    <div class="col-sm-6">
      <feed></feed>
    </div>
  </div>
  <template ngbModalContainer></template>
</div>
