<div class="container-fluid">
  <div class="row vertical-align header">
    <div class="col-sm-3">
        <img src="/assets/placeholder.png" height="100px" class="center-block" alt="Call The Hill">
    </div>
    <div class="col-sm-6">
      <div class="row">
        <h1 class="text-center title"> Call the Hill </h1>
      </div>

      <div class="row">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Feed..." />
        <span class="input-group-btn">
          <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
      </div>
      </div>
    </div>
    <div class="col-sm-3">
      <user></user>
    </div>
  </div>
  <div class="col-sm-3">
    <stats></stats>
  </div>
  <div class="col-sm-6">
    <call></call>
  </div>
</div>